<div class="successBody d-flex flex-column justify-content-center" style="height: 100%;">
  <div style="height: 60%;" class="successContent d-flex justify-content-center">
    <div>
      <h1 class="d-flex justify-content-center">Successful Reservation</h1>
      <div style="height: 70%;" class="successIconContainer d-flex justify-content-center">
        <img height="100%" width="auto" src="assets/img/icons/successHD.png" />
      </div>
      <p class="d-flex justify-content-center">You will be redirected in a few seconds...</p>
    </div>
  </div>
</div>
